@import "tailwindcss";

@theme{
  --color-primary: #a245fa;
  --color-secondary: #f8f5fd;
  --color-text: #322d4c;
  --color-subtle: #c2c3ca;
  --color-accent: #ff7532;
  --color-light: #ffffff;
  --color-dark: #111e4e;
  --color-background: #001140;
  --color-accent-light: rgba(160, 187, 255, 0.2);
  --color-accent-light-purple: rgba(108, 142, 255, 0.4);
}

body{
  min-width: 320px;
  background-color: var(--color-background);
}